body {
	align-items: center;
	animation: flow 30s ease infinite;
	background: linear-gradient(225deg, #6883ba, #3d3b8e, #b55c80);
	background-size: 600% 600%;
	color: #DFDFDF;
	display: flex;
	display: flex;
	flex-direction: column;
	font-family: Inconsolata, monospace;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	-webkit-animation: flow 30s ease infinite;
	-moz-animation: flow 30s ease infinite;
}

main {
	background-color: rgb(40, 40, 40, 0.4);
	border-radius: 4px;
}

#container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}


@-webkit-keyframes flow {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes flow {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes flow {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}