body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfdfd;
  color: #333333;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  justify-content: center;
}

#scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
}

div#work {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

div#work svg {
  height: min(30vmin, 12em);
  width: min(35vmin, 12em);
  justify-content: center;
  padding: min(2vmin, .5em);
  fill: #333;
}

header h1 {
  font-size: min(10vmin, 3em);
  margin: 0;
}

header p {
  margin: 0;
  font-size: min(5vmin, 1.5em);
  margin-bottom: min(3vmin, .75em);
}

.emoji {
  display: inline-block;
  width: auto;
  align-self: center;
  height: min(15vmin, 1.15em);
  vertical-align: -0.25em;
}

#socials {
  display: flex;
  align-items: center;
}

#socials svg {
  height: min(10vmin, 3em);
  width: min(10vmin, 3em);
  justify-content: center;
  padding: min(2vmin, .5em);
  fill: #333;
}

.item {
  display: flex;
}

.item div {
  align-self: center;
  margin-left: min(4vmin, 1em);
}

h2 {
  margin: 0;
  font-size: min(4vmin, 1.5em);
}

h3 {
  margin: 0;
  font-size: min(3vmin, 1.15em);
}

.item p {
  font-size: min(3vmin, 1em);
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #333;
      color: #fdfdfd;
  }
  #socials svg {
    fill: #fdfdfd;
  }

  #alarm-outline {
    fill: #fff;
  }
}