body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 8px;
    animation: flow 30s ease infinite;
	background: linear-gradient(225deg, #5612D6, #D9CF79);
	background-size: 600% 600%;
}

header {
    display: flex;
    gap: 8px;
    background-color: #bbbbbb66;
    border-radius: 8px;
    padding: 8px;
    width: min(100%, 700px);
    justify-content: space-between;
    align-items: center;
}

.warning {
    background-color: #fffbbdbb;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
}

.warning h2 {
    margin-top: 0;
}

header img {
    width: 100px;
    height: 100px;
}

@-webkit-keyframes flow {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes flow {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes flow {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}